* {
    font-family: Georgia, Garamond, serif;
}

.title {
    margin: 20px;
}

.recipe-item {
    margin: 10px 0;
}

.description {
    box-sizing: border-box;
    text-align: left;
    margin: 20px;
    padding: 5px;
}

.highlight{
    background-color: yellow;
}

#description-header {
    background-color: lightgray;
    box-sizing: border-box;
    padding: 10px;
}

.home-button {
    
}