* {
    font-family: Georgia, Garamond, serif;
}

.title {
    margin: 20px;
}

.recipe-item {
    margin: 10px 0;
}

.description {
    box-sizing: border-box;
    text-align: left;
    margin: 20px;
    padding: 5px;
}

.highlight{
    background-color: yellow;
}

#description-header {
    background-color: lightgray;
    padding: 10px;
    width: 150px;
}

.home-button {
    background-color: #7393B3;
}

#home-link {
    color: black;
    text-decoration: none;
}

#ingredients-header {
    background-color: #D27D2D;
    padding: 10px;
    width: 110px;
}

#steps-header {
    background-color: #EADDCA;
    padding: 10px;
    width: 60px;
}